.highlighted {
  @apply bg-clip-text;
  background: linear-gradient(to left, #6C928C 0%, #B8FB3C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@supports (color: color(display-p3 1 1 1)) {
  .highlighted {
    @apply bg-clip-text;
    background: linear-gradient(to left, color(display-p3 .4 .57 .54) 0%, color(display-p3 .72 1 .24) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.socialContainer {
  @apply px-0 pt-8 pb-16;
}

@media (max-width: 996px) {
  .socialLinks > div:nth-child(odd) {
    padding-right: calc(var(--ifm-spacing-horizontal) / 2);
  }

  .socialLinks > div:nth-child(even) {
    padding-left: calc(var(--ifm-spacing-horizontal) / 2);
  }
}

.btn {
  @apply p-6 w-full;
  border-color: var(--ifm-color-emphasis-200);
}

.btnUrl--active .btnText,
.btnUrl:active .btnText,
.btnUrl:hover .btnText,
.btnUrl:focus .btnText {
  color: var(--ifm-font-color-base-inverse);
}

.btnUrl--active .btnIcon,
.btnUrl:active .btnIcon,
.btnUrl:hover .btnIcon,
.btnUrl:focus .btnIcon {
  fill: var(--ifm-font-color-base-inverse);
}

.btnIcon {
  @apply block mx-auto my-0 p-2 w-10;
  fill: #4093f6;
}

@supports (color: color(a98-rgb 1 1 1)) {
  .btnIcon {
    @apply block mx-auto my-0 p-2 w-10;
    fill: color(a98-rgb .251 .576 .965);
  }
}

.socialLinks > a:hover {
  @apply backdrop-blur-sm brightness-125 contrast-100;
  background-color: #4093F6;
}

@supports (color: color(prophoto-rgb 1 1 1)) {
  .socialLinks > a:hover {
    @apply backdrop-blur-sm brightness-125 contrast-100;
    background-color: color(prophoto-rgb .251 .542 .957);
  }
}

.btnText {
  color: var(--ifm-font-color-base);
}

[data-theme='dracula'] .socialLinks > .col > a > span {
  @apply text-white;
}