/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

code {
  font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  code {
    font-family: 'Fira Code VF', monospace;
  }
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
